<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="none" >

<listeners>
       <listener class-name="listners.TestListener"/>
      
  </listeners>
  

  <test name="Recipient Test Scripts"> 
    <classes>
      <class name="recipientsTestScripts.Recipients_ZOY1192_ValidateRecipientLogout"/>
    </classes> 
  </test>

</suite> 
