<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="testBase.TestListener" />
	</listeners>
  <test name="Test">
<groups>
    <run>
      <include name="xyz"/>
   
   
    </run>
  </groups>

     <packages>
      <package name="recipientsTestScripts"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
